<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name='entityFramework' type='System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' requirePermission='false' />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type='System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework'>
      <parameters>
        <parameter value='mssqllocaldb' />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName='System.Data.SqlClient' type='System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer' />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name='Seguridad3BitsEntities1' connectionString='metadata=res://*/Models.Seguridad.Seguridad3Bits.csdl|res://*/Models.Seguridad.Seguridad3Bits.ssdl|res://*/Models.Seguridad.Seguridad3Bits.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5046.site4now.net;initial catalog=DB_A2985C_3BSecurity;user id=DB_A2985C_3BSecurity_admin;password=Seguridad3B;MultipleActiveResultSets=True;App=EntityFramework&quot;' providerName='System.Data.EntityClient' />
	</connectionStrings>
</configuration>