
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Recupera Password</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
    </style>
    
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/node_modules/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/assets/node_modules/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/assets/node_modules/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/assets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/assets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/assets/node_modules/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="~/assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Fuse Html -->
    <script type="text/javascript" src="~/assets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
           
            <div class="content-wrapper">

                <div class="content custom-scrollbar">

                    <div id="forgot-password" class="p-8">

                        <div class="form-wrapper md-elevation-8 p-8">

                            <div class="logo bg-secondary">
                                <span>S</span>
                            </div>

                            <div class="title mt-4 mb-8">Recupera tu Password</div>

                            <form name="forgotPasswordForm" novalidate>

                                <div class="form-group mb-4">
                                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder=" " required />
                                    <label for="forgotPasswordFormInputEmail">Email</label>
                                </div>

                                <button type="submit" class="submit-button btn btn-block btn-secondary mt-10 mb-6 mx-auto" aria-label="ENVIAR LINK DE RECUPERACION">
                                    ENVIAR LINK
                                </button>

                            </form>

                            <div class="login row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                <a class="link text-secondary" href="pages-auth-login.html">Regresar al Login</a>
                            </div>

                        </div>
                    </div>

                </div>
                <nav id="footer" class="bg-dark text-auto row no-gutters align-items-center px-6">
                    @*<a class="btn btn-secondary text-capitalize" href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn" target="_blank">
                        <i class="icon icon-cart mr-2 s-4"></i>Purchase FUSE Bootstrap
                    </a>*@
                </nav>
            </div>


        </div>
    </main>
</body>

</html>
